{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block monTitre %}LES PAYS ASIATIQUES{% endblock %}

{% block body %}

<div class="d-flex justify-content-around flex-wrap mx-5">
    {% for lePays in pays %}
    <div class="text-center text-white ">
        <a href="{{ path('afficherPays' , { 'nom' : lePays.nom|lower }) }}">
            <img src="{{ asset('images/flag/' ~ lePays.imgPays ~ '.png') }}" style="width: 400px; height: 250px">
        </a>
        <h3 class="pt-2 pb-3">{{ lePays.nom }}</h3>
    </div>
    {% endfor %}
</div>

{% endblock %}